<header id="header">
	<h1  class="header-logo">
		<a href="<%= RELATIVE_PATH %>">
			<img src="<%= RELATIVE_PATH %>img/common/logo.png" alt="Muni">
		</a>
	</h1>
	<nav class="header-nav">
		<ul class="header-nav__menu">
			<li class="header-nav__menu-item">
				<a href="/concept">
					<span class="c-ft--en">Concept</span>
					<span class="c-ft--base">Muniについて</span>
				</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="/program">
					<span class="c-ft--en">Program</span>
					<span class="c-ft--base">プログラム</span>
				</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="/price">
					<span class="c-ft--en">Price</span>
					<span class="c-ft--base">料金</span>
				</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="/trial">
					<span class="c-ft--en">Trial</span>
					<span class="c-ft--base">体験レッスン</span>
				</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="#access" class="js-scroll">
					<span class="c-ft--en">Access</span>
					<span class="c-ft--base">アクセス</span>
				</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="/faq">
					<span class="c-ft--en">Q&A</span>
					<span class="c-ft--base">よくあるご質問</span>
				</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="/news">
					<span class="c-ft--en">News</span>
					<span class="c-ft--base">お知らせ</span>
				</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="/column">
					<span class="c-ft--en">Column</span>
					<span class="c-ft--base">コラム</span>
				</a>
			</li>
		</ul>
		<ul class="header-nav__other">
			<li>
				<a href="#">
					特定商取引法に基づく表記
				</a>
			</li>
			<li>
				<a href="#">
					プライバシーポリシー
				</a>
			</li>
			<li>
				<a href="#">
					利用規約
				</a>
			</li>
			<li>
				<a href="https://www.instagram.com/pilates_studio_muni/" target="_blank" class="header-instagram">
					<img src="<%= RELATIVE_PATH %>img/common/instagram-02.png" alt="instagram" width="14">
					Instagram
				</a>
			</li>
		</ul>
		<ul class="header-nav__sns">
			<li class="header-nav__sns-item">
				<a href="https://lin.ee/UntIJyv" target="_blank" class="header-nav__sns--line">
					<span class="box">
						<span class="c-ft--en">LINE</span>
						<span class="c-ft--base">友だち追加</span>
					</span>
				</a>
			</li>
			<li class="header-nav__sns-item">
				<a href="/contact" class="header-nav__sns--contact">
					<span class="box">
						<span class="c-ft--en">Contact</span>
						<span class="c-ft--base">お問い合わせ</span>
					</span>
				</a>
			</li>
		</ul>
	</nav>
	<ul class="header-sns">
		<li><a href="https://lin.ee/UntIJyv" target="_blank"><img src="<%= RELATIVE_PATH %>img/common/line-02.png" alt="line" width="20"></a></li>
		<li><a href="/contact"><img src="<%= RELATIVE_PATH %>img/common/mail-02.png" alt="mail" width="19"></a></li>
	</ul>
	<span class="js-mobile">
			<span></span>
		</span>
</header>