<main class="page-<%= pageData.template %>">
	<section class="concept-page">
		<div class="inner inner--1010">
			<h2 class="c-ttl__02">
				<span class="c-ft--base">Muniのこだわり</span>
				<span class="c-ft--adventures">Commitment</span>
			</h2>
			<div class="concept-page__txt-intro">唯一無二の体験をお届けするため<br class="sp-sm">に、空間づくりからプログラムまで<br class="sp-sm">こだわりました</div>
			<ul class="concept-page__list">
				<li class="concept-page__list-item">
					<div class="concept-page__list-img">
						<img src="<%= RELATIVE_PATH %>img/concept/img-01.png" alt="セミパーソナルジム">
					</div>
					<div class="concept-page__list-ct">
						<h3 class="concept-page__list-ttl">セミパーソナルジム</h3>
						<div class="c-txt__basic concept-page__list-desc">より細やかな指導を行うために、プログラムはパーソナルからセミパーソナルまでに限定。一人ひとりのニーズに合わせ、インストラクターが丁寧にサポートします。</div>
					</div>
				</li>
				<li class="concept-page__list-item">
					<div class="concept-page__list-img">
						<img src="<%= RELATIVE_PATH %>img/concept/img-02.png" alt="開放的でありながら落ち着いた空間">
					</div>
					<div class="concept-page__list-ct">
						<h3 class="concept-page__list-ttl">開放的でありながら<br class="sp">落ち着いた空間</h3>
						<div class="c-txt__basic concept-page__list-desc">西海岸をイメージしたスタジオで心身ともにリラックス。日常から解放され、トレーニングに集中できる空間づくりにこだわりました。</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="concept-page__bottom">
			<div class="inner">
				<div class="concept-page__bottom-img sp">
					<img src="<%= RELATIVE_PATH %>img/concept/img-03.png" alt="ピラティス専用マシンを活用することで効果的に確実にトレーニングの効果を実感することができます">
				</div>
				<div class="concept-page__bottom-txt-lead">ピラティス専用マシンを<br class="sp-sm">活用することで効果的に確実に<br>トレーニングの効果を<br class="sp-sm">実感することができます</div>
				<div class="concept-page__bottom-desc c-txt__basic">日本ではあまりなじみのないピラティス専用マシンですが、米国ではピラティス＝マシンというくらいスタンダードに使用されています。マシンを活用することで、身体をサポートしたり、鍛える部位によって負荷を調節することができ、安全かつ効果的に身体を動かすことができます。</div>
				<div class="concept-page__bottom-img pc">
					<img src="<%= RELATIVE_PATH %>img/concept/img-03.png" alt="ピラティス専用マシンを活用することで効果的に確実にトレーニングの効果を実感することができます">
				</div>
			</div>
		</div>
	</section>
	<section class="feature-page">
		<div class="inner">
			<h2 class="feature-page__ttl c-ttl__02">
				<span class="c-ft--base">マシンピラティスの特徴</span>
				<span class="c-ft--adventures">Features</span>
			</h2>
			<ul class="feature-page__list">
				<li class="feature-page__list-item">
					<h3 class="feature-page__list-heading">
						<span class="feature-page__list-number">1</span>
						<span class="feature-page__list-ttl">運動経験の<br>少ない方も安心</span>
					</h3>
					<div class="c-txt__basic feature-page__list-desc">
						元々はリハビリ用だったベッドをピラティス用に改良したリフォーマーは、負荷を調節することで、運動経験が少ない方でも安心してエクササイズが行えます。
					</div>
					<div class="feature-page__list-img">
						<img src="<%= RELATIVE_PATH %>img/concept/img-04.png" alt="運動経験の少ない方も安心">
					</div>
				</li>
				<li class="feature-page__list-item">
					<h3 class="feature-page__list-heading">
						<span class="feature-page__list-number">2</span>
						<span class="feature-page__list-ttl">効果的な<br>ボディメイク</span>
					</h3>
					<div class="c-txt__basic feature-page__list-desc">
						元々はリハビリ用だったベッドをピラティス用に改良したリフォーマーは、負荷を調節することで、運動経験が少ない方でも安心してエクササイズが行えます。
					</div>
					<div class="feature-page__list-img">
						<img src="<%= RELATIVE_PATH %>img/concept/img-05.png" alt="効果的なボディメイク">
					</div>
				</li>
				<li class="feature-page__list-item">
					<h3 class="feature-page__list-heading">
						<span class="feature-page__list-number">3</span>
						<span class="feature-page__list-ttl">多彩な<br>エクササイズが可能</span>
					</h3>
					<div class="c-txt__basic feature-page__list-desc">
						一台のリフォーマーで、立位から膝立ち、仰向け、うつ伏せなど、多彩なエクササイズを行うことができ、身体の状態や目的に合わせたメニューを選択できます。
					</div>
					<div class="feature-page__list-img">
						<img src="<%= RELATIVE_PATH %>img/concept/img-06.png" alt="多彩なエクササイズが可能">
					</div>
				</li>
			</ul>
		</div>
	</section>
	<section class="sec-contact">
		<div class="inner">
			<div class="c-ttl__01">
				<span class="c-ft--adventures">Contact</span>
				<h2 class="c-ft--base">お問い合わせ</h2>
			</div>
			<div class="c-txt__heading c-txt__basic">
				<p>
					お問い合わせは以下のフォームまたはお電話より承ります。
				</p>
			</div>
			<div class="contact-block">
				<a href="tel:0357909753" class="contact-block__item contact-block__tel">
					<img src="<%= RELATIVE_PATH %>img/common/contact-tel.png" alt="03-5790-9753">
				</a>
				<a href="/contact/" class="contact-block__item contact-block__mail">
					<span>
						<span class="c-ft--en">Contact</span>
						<small>
							お問い合わせ
						</small>
					</span>
				</a>
			</div>
			<div class="contact-note">
				<p>
					お客様よりよくお寄せいただく<br class="sp">ご質問と回答とまとめております。<br>
					お問い合わせの前にご覧ください。
				</p>
				<a href="/faq" class="contact-note__btn">
					<span class="c-ft--en">Q<small>&</small>A</span>はこちら
				</a>
			</div>
		</div>
	</section>
</main>
