<main class="page-<%= pageData.template %>">
	<section class="mv-page">
		<ul class="breadcrumb">
			<li><a href="/"><img src="<%= RELATIVE_PATH %>img/common/ico.png" alt="home" width="5">HOME</a></li>
			<li><span>CONTACT</span></li>
		</ul>
		<div class="mv-page__img">
			<img src="<%= RELATIVE_PATH %>img/contact/mv.jpg" alt="contact" class="pc">
			<img src="<%= RELATIVE_PATH %>img/contact/mv-sp.jpg" alt="contact" class="sp">
		</div>
		<div class="mv-page__ttl">
			<span class="c-ft--jp">CONTACT</span>
			<h1 class="c-ft--base">お問い合わせ</h1>
		</div>
	</section>
	<section class="sec-contact-page">
		<div class="inner">
			<div class="contact-page c-txt__basic">
				<div class="contact-page__note c-al--c">
					<div class="contact-page__note-text">
						<p>
							弊ジムにご興味をお持ちいただき、誠にありがとうございます。
						</p>
						<p>
							お問い合わせは以下のフォームまたはお電話より承ります。
						</p>
						<p>
							お気軽にお問い合わせくださいませ。<br>
							通常、３営業日以内に担当者より返信いたします。
						</p>
					</div>

					<a href="tel:0357909753" class="contact-page__tel">
						<img src="<%= RELATIVE_PATH %>img/common/contact-tel.png" alt="03-5790-9753">
					</a>
					<div class="contact-page__note-text">
						<p>
							体験およびレッスンの予約、変更、<br class="sp">キャンセルは当フォームでは<br class="sp">承ることができません。<br>
							各専用フォームよりお申し込みください。
						</p>
					</div>

				</div>
				<div class="contact-note">
					<p>
						お客様よりよくお寄せいただくご質問と回答とまとめております。<br class="sp">お問い合わせの前にご覧ください。
					</p>
					<a href="/faq" class="contact-note__btn">
						<span class="c-ft--en">Q<small>&</small>A</span>はこちら
					</a>
				</div>
				<div class="contact-block-form">
					<p class="contact-block-form--note mbpc-15 mbsp-50">
						<span class="note">必須</span>の項目は、必ずご入力お願いします。
					</p>
					<div class="contact-form">
						<dl class="contact-form__item">
							<dt>
								入会情報 <span class="note">必須</span>
							</dt>
							<dd>
								<ul class="pure-list pure-list--check">
									<li>
										<div class="pure-list__input">
											<input name="radio" type="radio" class="radio" checked="checked">
											<span>会員</span>
										</div>
									</li>

									<li>
										<div class="pure-list__input">
											<input name="radio" type="radio" class="radio">
											<span>会員ではない</span>
										</div>
									</li>

								</ul>
							</dd>
						</dl>
						<dl class="contact-form__item">
							<dt>
								お名前 <span class="note">必須</span>
							</dt>
							<dd>
								<input type="text" class="form-control mw-350" placeholder="例）山田 太郎">
							</dd>
						</dl>
						<dl class="contact-form__item">
							<dt>
								お名前 <span class="note">必須</span>
							</dt>
							<dd>
								<input type="text" class="form-control mw-350" placeholder="例）09012345678">
							</dd>
						</dl>
						<dl class="contact-form__item">
							<dt>
								メールアドレス <span class="note">必須</span>
							</dt>
							<dd>
								<input type="text" class="form-control" placeholder="例）info@example.com">
							</dd>
						</dl>
						<dl class="contact-form__item">
							<dt>
								お問い合わせ項目 <small>（複数選択可）</small> <span class="note">必須</span>
							</dt>
							<dd>
								<ul class="pure-list pure-list--radio">
									<li>
										<div class="pure-list__input">
											<input name="checkbox" type="checkbox" checked="checked">
											<span>ご意見・ご要望</span>
										</div>
									</li>
									<li>
										<div class="pure-list__input">
											<input name="checkbox" type="checkbox">
											<span>体験レッスンについて</span>
										</div>
									</li>
									<li>
										<div class="pure-list__input">
											<input name="checkbox" type="checkbox">
											<span>施設の利用方法について</span>
										</div>
									</li>
									<li>
										<div class="pure-list__input">
											<input name="checkbox" type="checkbox">
											<span>採用に関するお問い合わせ</span>
										</div>
									</li>
									<li>
										<div class="pure-list__input">
											<input name="checkbox" type="checkbox">
											<span>取材に関するお問い合わせ</span>
										</div>
									</li>
									<li>
										<div class="pure-list__input">
											<input name="checkbox" type="checkbox">
											<span>その他</span>
										</div>
									</li>
								</ul>
							</dd>
						</dl>
						<dl class="contact-form__item">
							<dt>
								お問い合わせ内容 <span class="note">必須</span>
							</dt>
							<dd>
								<textarea class="form-control"></textarea>
							</dd>
						</dl>
						<div class="contact-form__check">
							<div class="pure-list__input">
								<input name="checkbox" type="checkbox">
								<span><a href="/privacy">プライバシーポリシー</a>を確認しました</span>
							</div>
						</div>
						<div class="contact-form__sub">
							<button type="button" class="c-btn__sub">
								送信する
							</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<section class="sec-maps" id="access">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.524423815397!2d139.66753162535306!3d35.664087086490476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f36b3ad2db91%3A0x3f3ad847c2218fd4!2z44CSMTU1LTAwMzEg5p2x5Lqs6YO95LiW55Sw6LC35Yy65YyX5rKi77yS5LiB55uu77yT77yX4oiS77yR77yYIO-8re-8oe-8ru-8oeS4i-WMl-ayoiA0Zg!5e0!3m2!1sja!2sjp!4v1717469400705!5m2!1sja!2sjp" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</section>
</main>