<main class="page-<%= pageData.template %>">
	<section class="sec-mv">
		<div class="mv-img">
			<img src="<%= RELATIVE_PATH %>img/index/mv.jpg" alt="img" class="pc">
			<img src="<%= RELATIVE_PATH %>img/index/mv-sp.jpg" alt="img" class="sp">
		</div>
		<h1 class="mv-heading">
			<img src="<%= RELATIVE_PATH %>img/index/mv-heading.png" alt="美姿勢で魅せる" class="pc">
			<img src="<%= RELATIVE_PATH %>img/index/mv-heading-sp.png" alt="美姿勢で魅せる" class="sp">
		</h1>
		<ul class="mv-items pc">
			<li>
				<img src="<%= RELATIVE_PATH %>img/index/mv-item-01.png" alt="下北沢駅から徒歩12分">
			</li>
			<li>
				<img src="<%= RELATIVE_PATH %>img/index/mv-item-02.png" alt="最大2名の少人数制レッスン">
			</li>
			<li>
				<img src="<%= RELATIVE_PATH %>img/index/mv-item-03.png" alt="24時間予約受付">
			</li>
			<li>
				<img src="<%= RELATIVE_PATH %>img/index/mv-item-04.png" alt="体験レッスン無料">
			</li>
		</ul>
		<div class="mv-items sp">
			<img src="<%= RELATIVE_PATH %>img/index/mv-item-sp.png" alt="下北沢駅から徒歩12分 最大2名の少人数制レッスン 24時間予約受付 体験レッスン無料">
		</div>
	</section>
	<section class="sec-banner">
		<div class="inner">
			<div class="banner-block">
				<div class="banner-block__item">
					<div class="box">
						<img src="<%= RELATIVE_PATH %>img/index/banner-01.png" alt="特別キャンペーン実施中体験当日にご入会いただくと入会金5,000円が" class="img-01">
						<img src="<%= RELATIVE_PATH %>img/index/banner-01-hv.png" alt="特別キャンペーン実施中体験当日にご入会いただくと入会金5,000円が" class="img-02">
					</div>
				</div>
				<div class="banner-block__item">
					<div class="box">
						<img src="<%= RELATIVE_PATH %>img/index/banner-02.png" alt="LINEともだち追加で水素水1本無料クーポンプレゼント" class="img-01">
						<img src="<%= RELATIVE_PATH %>img/index/banner-02-hv.png" alt="LINEともだち追加で水素水1本無料クーポンプレゼント" class="img-02">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="sec-news">
		<div class="inner">
			<div class="c-ttl__01 mbpc-58">
				<span class="c-ft--adventures">News</span>
				<h2 class="c-ft--base">お知らせ</h2>
			</div>
			<ul class="news-list">
				<li class="news-list__item">
					<a href="">
						<span class="date">2024 / 06 /03</span>
						<p>
							Newsのテキストが入ります。Newsのテキストが入ります。Newsのテキストが入ります。
						</p>
					</a>
				</li>
				<li class="news-list__item">
					<a href="">
						<span class="date">2024 / 06 /03</span>
						<p>
							Newsのテキストが入ります。Newsのテキストが入ります。Newsのテキストが入ります。
						</p>
					</a>
				</li>
				<li class="news-list__item">
					<a href="">
						<span class="date">2024 / 06 /03</span>
						<p>
							Newsのテキストが入ります。Newsのテキストが入ります。Newsのテキストが入ります。
						</p>
					</a>
				</li>
			</ul>
			<div class="c-al--r">
				<a href="/news" class="c-btn__viewmore">もっと見る</a>
			</div>
		</div>
	</section>
	<section class="sec-about">
		<div class="about-block">
			<div class="about-block__item pc">
				<img src="<%= RELATIVE_PATH %>img/index/about-item.png" alt="日々の喧騒や忙しさから解放され、心も身体もニュートラルに">
			</div>
			<div class="about-block__content">
				<h2 class="about-block__content-ttl c-ft--jp">
					日々の喧騒や忙しさから<br class="sp">解放され、<br class="pc">心も身体も<br class="sp">ニュートラルに
					<img src="<%= RELATIVE_PATH %>img/index/about-ttl.png" alt="無になる時間を">
					大切にする<br class="sp">ピラティススタジオです
				</h2>
				<div class="about-block__item sp">
					<img src="<%= RELATIVE_PATH %>img/index/about-item-sp.png" alt="日々の喧騒や忙しさから解放され、心も身体もニュートラルに">
				</div>
				<p>
					Pilates Studio Muniはあなたの「無になる時間」を大切にし、<br class="pc">心身のバランスを整えることを目指したピラティススタジオです。
				</p>
				<p>
					西海岸を思わせるスタジオは、開放的でありながらも落ち着く空間。
				</p>
				<p>
					身体のすみずみまで意識を集中できるセミプライベートレッスンにこだわり、<br class="pc">
					ピラティス専用マシンの数も最小限に限定しています。<br>
				</p>
				<p>
					日常を忘れ、心も身体もしなやかに。
				</p>
				<p>
					Pilates Studio Muniで唯一無二のピラティス時間を過ごしてみませんか？
				</p>
			</div>
		</div>
	</section>
	<section class="sec-concept">
		<div class="inner">
			<div class="c-ttl__01">
				<span class="c-ft--adventures">Concept</span>
				<h2 class="c-ft--base">コンセプト</h2>
			</div>
			<div class="c-txt__heading c-txt__basic">
				<p>
					日常を忘れ、無になる時間を創出<br>
					個々のニーズに合わせた<br class="sp">ピラティスレッスンを行います
				</p>
			</div>
			<ul class="concept-list">
				<li class="concept-list__item">
					<img src="<%= RELATIVE_PATH %>img/index/concept-img-01.jpg" alt="Concept">
				</li>
				<li class="concept-list__item">
					<img src="<%= RELATIVE_PATH %>img/index/concept-img-02.jpg" alt="Concept">
				</li>
				<li class="concept-list__item">
					<img src="<%= RELATIVE_PATH %>img/index/concept-img-03.jpg" alt="Concept">
				</li>
				<li class="concept-list__item">
					<img src="<%= RELATIVE_PATH %>img/index/concept-img-04.jpg" alt="Concept">
				</li>
				<li class="concept-list__item">
					<img src="<%= RELATIVE_PATH %>img/index/concept-img-05.jpg" alt="Concept">
				</li>
				<li class="concept-list__item">
					<img src="<%= RELATIVE_PATH %>img/index/concept-img-06.jpg" alt="Concept">
				</li>
				<li class="concept-list__item">
					<img src="<%= RELATIVE_PATH %>img/index/concept-img-07.jpg" alt="Concept">
				</li>
				<li class="concept-list__item">
					<img src="<%= RELATIVE_PATH %>img/index/concept-img-08.jpg" alt="Concept">
				</li>
			</ul>
			<div class="c-al--r">
				<a href="/concept" class="c-btn__viewmore">もっと見る</a>
			</div>
		</div>
	</section>
	<section class="sec-program">
		<div class="inner">
			<div class="c-ttl__01">
				<span class="c-ft--adventures">Program</span>
				<h2 class="c-ft--base">プログラム紹介</h2>
			</div>
			<div class="c-txt__heading c-txt__basic">
				<p>
					ピラティスの魅力を最大限に引き出した多彩なプログラムを用意。<br>
					初心者から上級者まで、一人ひとりに合わせたクラスを選ぶことができます。
				</p>
			</div>
			<ul class="program-list">
				<li class="program-list__item">
					<div class="program-list__img">
						<img src="<%= RELATIVE_PATH %>img/index/program-img-01.jpg" alt="ベーシック">
					</div>
					<div class="program-list__ct c-txt__basic">
						<h3 class="program-list__ct-ttl">ベーシック</h3>
						<p>
							ビギナー向け基本プログラム
						</p>
					</div>
				</li>
				<li class="program-list__item">
					<div class="program-list__img">
						<img src="<%= RELATIVE_PATH %>img/index/program-img-02.jpg" alt="アドバンス">
					</div>
					<div class="program-list__ct c-txt__basic">
						<h3 class="program-list__ct-ttl">アドバンス</h3>
						<p>
							ピラティスに慣れてきた人向けの<br>
							上級プログラム
						</p>
					</div>
				</li>
				<li class="program-list__item">
					<div class="program-list__img">
						<img src="<%= RELATIVE_PATH %>img/index/program-img-03.jpg" alt="部位別プログラム">
					</div>
					<div class="program-list__ct c-txt__basic">
						<h3 class="program-list__ct-ttl">部位別プログラム</h3>
						<p>
							特定の部位や目的に応じた<br>
							専門プログラム
						</p>
					</div>
				</li>
			</ul>
			<div class="c-al--r">
				<a href="/program" class="c-btn__viewmore">もっと見る</a>
			</div>
		</div>
	</section>
	<section class="sec-price">
		<div class="inner">
			<div class="c-ttl__01">
				<span class="c-ft--adventures">Price</span>
				<h2 class="c-ft--base">料 金</h2>
			</div>
			<div class="c-txt__heading c-txt__basic">
				<p>
					まずはゆっくり通いたい方から、集中して通いたい方まで<br class="pc">個々のニーズに合わせた料金プランとオプションサービスをご用意しております。
				</p>
			</div>
			<ul class="price-list">
				<li class="price-list__item">
					<img src="<%= RELATIVE_PATH %>img/index/price-item-01.png" alt="気軽に挑戦できるトライアルレッスン">
				</li>
				<li class="price-list__item">
					<img src="<%= RELATIVE_PATH %>img/index/price-item-02.png" alt="手ぶらで通えるウェアレンタルなど">
				</li>
				<li class="price-list__item">
					<img src="<%= RELATIVE_PATH %>img/index/price-item-03.png" alt="多彩なプランで通いやすい">
				</li>
			</ul>
			<div class="c-al--r">
				<a href="/price" class="c-btn__viewmore c-btn__viewmore--white">もっと見る</a>
			</div>
		</div>
	</section>
	<section class="sec-trial">
		<div class="inner">
			<div class="c-ttl__01">
				<span class="c-ft--adventures">Trial</span>
				<h2 class="c-ft--base">初めての方へ</h2>
			</div>
			<div class="c-txt__heading c-txt__basic">
				<p>
					Muniを初めてご利用される方へ<br>
					トライアルレッスンの流れを<br class="sp">ご紹介しております。
				</p>
			</div>
			<div class="trial-block c-txt__basic">
				<h3 class="trial-block__ttl">
					<span>無料体験レッスン</span>実施中！
				</h3>
				<p>
					事前予約システムを通じて、24時間気軽に申し込みが可能です<br><br class="sp">
					レッスン後は、インストラクターが一人ひとりの状態や目標に応じた<br>
					フィードバックを提供します
				</p>
			</div>
			<ul class="trial-other">
				<li>
					<a href="https://muni-pilates.hacomono.jp/reserve/schedule/1/1/" target="_blank">
						無料体験レッスン<br>
						のお申し込みはこちら
					</a>
				</li>
				<li>
					<a href="/trial">
						TRIALの<br class="pc-sm">詳細はこちら
					</a>
				</li>
			</ul>
		</div>
	</section>
	<section class="sec-column">
		<div class="inner">
			<div class="c-ttl__01 mbpc-70">
				<span class="c-ft--adventures">Column</span>
				<h2 class="c-ft--base">コラム</h2>
			</div>
			<ul class="column-list">
				<li class="column-list__item">
					<div class="column-list__img">
						<img src="<%= RELATIVE_PATH %>img/index/column-img-01.jpg" alt="Column">
					</div>
					<div class="column-list__ct c-txt__basic">
						<span class="column-list__ct-time">2024 / 07 / 24</span>
						<p>
							記事の抜粋がはいります。記事の抜粋がはいります。記事の抜粋がはいります。記事の抜粋がはいります。記事の抜粋がはいります。
						</p>
					</div>
				</li>
				<li class="column-list__item">
					<div class="column-list__img">
						<img src="<%= RELATIVE_PATH %>img/index/column-img-02.jpg" alt="Column">
					</div>
					<div class="column-list__ct c-txt__basic">
						<span class="column-list__ct-time">2024 / 07 / 24</span>
						<p>
							記事の抜粋がはいります。記事の抜粋がはいります。記事の抜粋がはいります。記事の抜粋がはいります。記事の抜粋がはいります。
						</p>
					</div>
				</li>
				<li class="column-list__item">
					<div class="column-list__img">
						<img src="<%= RELATIVE_PATH %>img/index/column-img-03.jpg" alt="Column">
					</div>
					<div class="column-list__ct c-txt__basic">
						<span class="column-list__ct-time">2024 / 07 / 24</span>
						<p>
							記事の抜粋がはいります。記事の抜粋がはいります。記事の抜粋がはいります。記事の抜粋がはいります。記事の抜粋がはいります。
						</p>
					</div>
				</li>
			</ul>
			<div class="c-al--r">
				<a href="/column" class="c-btn__viewmore">もっと見る</a>
			</div>
		</div>
	</section>
	<section class="sec-contact">
		<div class="inner">
			<div class="c-ttl__01">
				<span class="c-ft--adventures">Contact</span>
				<h2 class="c-ft--base">お問い合わせ</h2>
			</div>
			<div class="c-txt__heading c-txt__basic">
				<p>
					お問い合わせは以下のフォームまたはお電話より承ります。
				</p>
			</div>
			<div class="contact-block">
				<a href="tel:0357909753" class="contact-block__item contact-block__tel">
					<img src="<%= RELATIVE_PATH %>img/common/contact-tel.png" alt="03-5790-9753">
				</a>
				<a href="/contact/" class="contact-block__item contact-block__mail">
					<span>
						<span class="c-ft--en">Contact</span>
						<small>
							お問い合わせ
						</small>
					</span>
				</a>
			</div>
			<div class="contact-note">
				<p>
					お客様よりよくお寄せいただく<br class="sp">ご質問と回答とまとめております。<br>
					お問い合わせの前にご覧ください。
				</p>
				<a href="/faq" class="contact-note__btn">
					<span class="c-ft--en">Q<small>&</small>A</span>はこちら
				</a>
			</div>
		</div>
	</section>
	<section class="sec-maps" id="access">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.524423815397!2d139.66753162535306!3d35.664087086490476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f36b3ad2db91%3A0x3f3ad847c2218fd4!2z44CSMTU1LTAwMzEg5p2x5Lqs6YO95LiW55Sw6LC35Yy65YyX5rKi77yS5LiB55uu77yT77yX4oiS77yR77yYIO-8re-8oe-8ru-8oeS4i-WMl-ayoiA0Zg!5e0!3m2!1sja!2sjp!4v1717469400705!5m2!1sja!2sjp" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</section>
</main>
