<main class="page-<%= pageData.template %>">
	<section class="mv-page">
		<ul class="breadcrumb">
			<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/ico.png" alt="home" width="5">HOME</a></li>
			<li><span>PRICE</span></li>
		</ul>
		<div class="mv-page__img">
			<img src="<%= RELATIVE_PATH %>img/price/mv.jpg" alt="PRICE" class="pc">
			<img src="<%= RELATIVE_PATH %>img/price/mv-sp.jpg" alt="PRICE" class="sp">
		</div>
		<div class="mv-page__ttl">
			<span class="c-ft--jp">PRICE</span>
		</div>
	</section>
    <section class="price-intro">
        <h2 class="price-intro__img">
            <img src="<%= RELATIVE_PATH %>img/price/img-heading.png" alt="PRICE" class="pc">
            <img src="<%= RELATIVE_PATH %>img/price/img-heading-sp.png" alt="PRICE" class="sp">
        </h2>
    </section>
    <section class="price-main">
        <div class="inner">
            <h2 class="c-ttl__02 c-ttl__02--styles02 price-main__ttl">
				<span class="c-ft--base">月額メンバープラン</span>
				<span class="c-ft--adventures">Monthly member plan</span>
			</h2>
            <div class="price-main__wp">
                <div class="price-main__box">
                    <h3 class="price-main__box-ttl">入会時</h3>
                    <div class="price-main__box-content">
                        <dl>
                            <dt></dt>
                            <dd>価格</dd>
                        </dl>
                        <dl>
                            <dt>入会金</dt>
                            <dd>11,000円<small>(税込)</small></dd>
                        </dl>
                        <dl>
                            <dt>登録料</dt>
                            <dd>2,530円<small>(税込)</small></dd>
                        </dl>
                    </div>
                    <div class="c-txt__basic price-main__box-desc">
                        お支払いはクレジットカード払いまたは銀行引き落としに対応しております。<br>
                        ※ご契約手続きには、身分証明書の他、ご利用予定のクレジットカードまたは銀行通帳が必要となりますので、ご持参ください
                    </div>
                </div>
                <div class="price-main__box">
                    <h3 class="price-main__box-ttl">月額</h3>
                    <div class="price-main__box-content">
                        <dl>
                            <dt>プラン名</dt>
                            <dd>価格</dd>
                        </dl>
                        <dl>
                            <dt>月2回プラン</dt>
                            <dd>9,900円<small>(税込)</small></dd>
                        </dl>
                        <dl>
                            <dt>月4回プラン</dt>
                            <dd>17,600円<small>(税込)</small></dd>
                        </dl>
                        <dl>
                            <dt>月8回プラン</dt>
                            <dd>30,800円<small>(税込)</small></dd>
                        </dl>
                        <dl>
                            <dt>プライベート<br>レッスンプラン<br class="sp"><small>（月4回）</small></dt>
                            <dd>35,200円<small>(税込)</small></dd>
                        </dl>
                    </div>
                </div>
                <div class="price-main__box">
                    <h3 class="price-main__box-ttl">オプション</h3>
                    <div class="price-main__box-content">
                        <dl>
                            <dt>オプション名</dt>
                            <dd>価格</dd>
                        </dl>
                        <dl>
                            <dt>水素水</dt>
                            <dd>220円<small>(税込)</small></dd>
                        </dl>
                        <dl>
                            <dt>バスタオル</dt>
                            <dd>550円<small>(税込)</small></dd>
                        </dl>
                        <dl>
                            <dt>月8回プラン</dt>
                            <dd>30,800円<small>(税込)</small></dd>
                        </dl>
                        <dl>
                            <dt>レンタルウェア<br><small>（上下セット）</small></dt>
                            <dd>35,200円<small>(税込)</small></dd>
                        </dl>
                    </div>
                    <div class="c-txt__basic price-main__box-desc">
                        便利なオプションもご用意しておりますので、ぜひご利用ください。
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sec-contact">
		<div class="inner">
			<div class="c-ttl__01">
				<span class="c-ft--adventures">Contact</span>
				<h2 class="c-ft--base">お問い合わせ</h2>
			</div>
			<div class="c-txt__heading c-txt__basic">
				<p>
					お問い合わせは以下のフォームまたはお電話より承ります。
				</p>
			</div>
			<div class="contact-block">
				<a href="tel:0357909753" class="contact-block__item contact-block__tel">
					<img src="<%= RELATIVE_PATH %>img/common/contact-tel.png" alt="03-5790-9753">
				</a>
				<a href="/contact/" class="contact-block__item contact-block__mail">
					<span>
						<span class="c-ft--en">Contact</span>
						<small>
							お問い合わせ
						</small>
					</span>
				</a>
			</div>
			<div class="contact-note">
				<p>
					お客様よりよくお寄せいただく<br class="sp">ご質問と回答とまとめております。<br>
					お問い合わせの前にご覧ください。
				</p>
				<a href="/faq" class="contact-note__btn">
					<span class="c-ft--en">Q<small>&</small>A</span>はこちら
				</a>
			</div>
		</div>
	</section>
</main>