<main class="page-<%= pageData.template %>">
	<section class="mv-page">
		<ul class="breadcrumb">
			<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/ico.png" alt="home" width="5">HOME</a></li>
			<li><span>PRICE</span></li>
		</ul>
		<div class="mv-page__img">
			<img src="<%= RELATIVE_PATH %>img/program/mv.jpg" alt="Lesson program" class="pc">
			<img src="<%= RELATIVE_PATH %>img/program/mv-sp.jpg" alt="Lesson program" class="sp">
		</div>
		<div class="mv-page__ttl">
			<span class="c-ft--jp">Lesson program</span>
            <small>短期間で効果を実感できる「リフォーマーピラティスクラス」、ピラティスの基本を学べる「ベーシック（ビギナー）プログラム」、高度なテクニックに挑戦する「アドバンスクラス」、身体の部位や目的別にプログラムを受けることができるコースなど、多様なニーズに応えるクラスを展開</small>
		</div>
	</section>
    <section class="program-anchor">
        <ul class="program-anchor__list">
            <li class="program-anchor__list-item">
                <a href="#program01" class="scroll-page">
                    <div class="program-anchor__list-img">
                        <img src="<%= RELATIVE_PATH %>img/program/anchor-01.jpg" alt="ベーシック" class="pc-sm">
                        <img src="<%= RELATIVE_PATH %>img/program/anchor-01-sp.jpg" alt="ベーシック" class="sp-sm">
                    </div>
                    <p class="program-anchor__list-caption">
                        ベーシック
                    </p>
                </a>
            </li>
            <li class="program-anchor__list-item">
                <a href="#program02" class="scroll-page">
                    <div class="program-anchor__list-img">
                        <img src="<%= RELATIVE_PATH %>img/program/anchor-02.jpg" alt="アドバンス" class="pc-sm">
                        <img src="<%= RELATIVE_PATH %>img/program/anchor-02-sp.jpg" alt="アドバンス" class="sp-sm">
                    </div>
                    <p class="program-anchor__list-caption">
                        アドバンス
                    </p>
                </a>
            </li>
            <li class="program-anchor__list-item">
                <a href="#program03" class="scroll-page">
                    <div class="program-anchor__list-img">
                        <img src="<%= RELATIVE_PATH %>img/program/anchor-03.jpg" alt="リフォーマーピラティクス" class="pc-sm">
                        <img src="<%= RELATIVE_PATH %>img/program/anchor-03-sp.jpg" alt="リフォーマーピラティクス" class="sp-sm">
                    </div>
                    <p class="program-anchor__list-caption">
                        リフォーマー<br class="sp">ピラティクス
                    </p>
                </a>
            </li>
            <li class="program-anchor__list-item">
                <a href="#program04" class="scroll-page">
                    <div class="program-anchor__list-img">
                        <img src="<%= RELATIVE_PATH %>img/program/anchor-04.jpg" alt="プライベートレッスン" class="pc-sm">
                        <img src="<%= RELATIVE_PATH %>img/program/anchor-04-sp.jpg" alt="プライベートレッスン" class="sp-sm">
                    </div>
                    <p class="program-anchor__list-caption">
                        プライベートレッスン
                    </p>
                </a>
            </li>
            <li class="program-anchor__list-item">
                <a href="#program05" class="scroll-page">
                    <div class="program-anchor__list-img">
                        <img src="<%= RELATIVE_PATH %>img/program/anchor-05.jpg" alt="部位・目的別コース" class="pc-sm">
                        <img src="<%= RELATIVE_PATH %>img/program/anchor-05-sp.jpg" alt="部位・目的別コース" class="sp-sm">
                    </div>
                    <p class="program-anchor__list-caption">
                        部位・目的別コース
                        <small>「ヒップ＆レッグ」<br>「ストレッチ＆コンディショニング」</small>
                    </p>
                </a>
            </li>
        </ul>
    </section>
    <section class="program-main">
        <div class="inner">
            <ul class="program-main__list">
                <li class="program-main__list-item" id="program01">
                    <div class="program-main__list-img">
                        <img src="<%= RELATIVE_PATH %>img/program/img-01.png" alt="部位・目的別コース">
                    </div>
                    <div class="program-main__list-ct">
                        <h2 class="c-ttl__02 c-ttl__02--sm program-main__list-ttl">
                            <span class="c-ft--base">ベーシック</span>
				            <span class="c-ft--adventures">Basic</span>
                        </h2>
                        <h3 class="program-main__list-ttlsub">初めてや慣れていない方におすすめ</h3>
                        <ul class="program-main__list-option">
                            <li>
                                運動量
                                <img src="<%= RELATIVE_PATH %>img/program/star.png" width="15" alt="部位・目的別コース">
                                <img src="<%= RELATIVE_PATH %>img/program/star-gray.png" width="15" alt="部位・目的別コース">
                                <img src="<%= RELATIVE_PATH %>img/program/star-gray.png" width="15" alt="部位・目的別コース">
                            </li>
                            <li>
                                難易度レベル
                                <img src="<%= RELATIVE_PATH %>img/program/star.png" width="15" alt="部位・目的別コース">
                                <img src="<%= RELATIVE_PATH %>img/program/star-gray.png" width="15" alt="部位・目的別コース">
                                <img src="<%= RELATIVE_PATH %>img/program/star-gray.png" width="15" alt="部位・目的別コース">
                            </li>
                            <li>
                                <img src="<%= RELATIVE_PATH %>img/program/ico-time.png" width="14" alt="部位・目的別コース">
                                レッスン時間<span>60</span>分
                            </li>
                        </ul>
                        <div class="c-txt__basic program-main__list-desc">
                            より細やかな指導を行うために、プログラムはパーソナルからセミパーソナルまでに限定。一人ひとりのニーズに合わせ、インストラクターが丁寧にサポートします。
                        </div>
                        <p class="program-main__list-note">※体験レッスンはこちらのプログラムをご受講いただきます。</p>
                    </div>
                </li>
                <li class="program-main__list-item" id="program02">
                    <div class="program-main__list-img">
                        <img src="<%= RELATIVE_PATH %>img/program/img-02.png" alt="部位・目的別コース">
                    </div>
                    <div class="program-main__list-ct">
                        <h2 class="c-ttl__02 c-ttl__02--sm program-main__list-ttl">
                            <span class="c-ft--base">アドバンス</span>
				            <span class="c-ft--adventures">Advance</span>
                        </h2>
                        <h3 class="program-main__list-ttlsub">中級者以上の方におすすめ</h3>
                        <ul class="program-main__list-option">
                            <li>
                                運動量
                                <img src="<%= RELATIVE_PATH %>img/program/star.png" width="15" alt="部位・目的別コース">
                                <img src="<%= RELATIVE_PATH %>img/program/star.png" width="15" alt="部位・目的別コース">
                                <img src="<%= RELATIVE_PATH %>img/program/star.png" width="15" alt="部位・目的別コース">
                            </li>
                            <li>
                                難易度レベル
                                <img src="<%= RELATIVE_PATH %>img/program/star.png" width="15" alt="部位・目的別コース">
                                <img src="<%= RELATIVE_PATH %>img/program/star.png" width="15" alt="部位・目的別コース">
                                <img src="<%= RELATIVE_PATH %>img/program/star.png" width="15" alt="部位・目的別コース">
                            </li>
                            <li>
                                <img src="<%= RELATIVE_PATH %>img/program/ico-time.png" width="14" alt="部位・目的別コース">
                                レッスン時間<span>60</span>分
                            </li>
                        </ul>
                        <div class="c-txt__basic program-main__list-desc">
                            身体のコアが安定している方向けのレッスンです。<br class="pc">ピラティス上級者に向けて、筋力やバランスがより必要となる刺激のあるレッスン内容になっています。インナーマッスルや骨を動かす感覚が分かり始めた方や瞑想効果を感じたい方におすすめです。
                        </div>
                    </div>
                </li>
                <li class="program-main__list-item" id="program03">
                    <div class="program-main__list-img">
                        <img src="<%= RELATIVE_PATH %>img/program/img-03.png" alt="部位・目的別コース">
                    </div>
                    <div class="program-main__list-ct">
                        <h2 class="c-ttl__02 c-ttl__02--sm c-ttl__02--smsp program-main__list-ttl">
                            <span class="c-ft--base">リフォーマーピラティクス</span>
				            <span class="c-ft--adventures">Reformer Pilates</span>
                        </h2>
                        <h3 class="program-main__list-ttlsub">短期間で成果を出したい方におすすめ</h3>
                        <ul class="program-main__list-option">
                            <li>
                                運動量
                                <img src="<%= RELATIVE_PATH %>img/program/star.png" width="15" alt="部位・目的別コース">
                                <img src="<%= RELATIVE_PATH %>img/program/star.png" width="15" alt="部位・目的別コース">
                                <img src="<%= RELATIVE_PATH %>img/program/star-gray.png" width="15" alt="部位・目的別コース">
                            </li>
                            <li>
                                難易度レベル
                                <img src="<%= RELATIVE_PATH %>img/program/star.png" width="15" alt="部位・目的別コース">
                                <img src="<%= RELATIVE_PATH %>img/program/star.png" width="15" alt="部位・目的別コース">
                                <img src="<%= RELATIVE_PATH %>img/program/star-gray.png" width="15" alt="部位・目的別コース">
                            </li>
                            <li>
                                <img src="<%= RELATIVE_PATH %>img/program/ico-time.png" width="14" alt="部位・目的別コース">
                                レッスン時間<span>45</span>分
                            </li>
                        </ul>
                        <div class="c-txt__basic program-main__list-desc">
                            ピラティスの基本となるマシンを使用し、身体のコアを中心に全身を効率的に鍛えるクラスです。<br>
                            バランスと柔軟性の向上に重点を置いています。
                        </div>
                    </div>
                </li>
                <li class="program-main__list-item" id="program04">
                    <div class="program-main__list-img">
                        <img src="<%= RELATIVE_PATH %>img/program/img-04.png" alt="プライベートレッスン">
                    </div>
                    <div class="program-main__list-ct">
                        <h2 class="c-ttl__02 c-ttl__02--sm program-main__list-ttl">
                            <span class="c-ft--base">プライベートレッスン</span>
				            <span class="c-ft--adventures">Private lesson</span>
                        </h2>
                        <h3 class="program-main__list-ttlsub">目的に合わせて身体を集中的に鍛えたい方におすすめ</h3>
                        <ul class="program-main__list-option">
                            <li>
                                <img src="<%= RELATIVE_PATH %>img/program/ico-time.png" width="14" alt="部位・目的別コース">
                                レッスン時間<span>60</span>分
                            </li>
                        </ul>
                        <div class="c-txt__basic program-main__list-desc">
                            個々の目標に合わせて、さまざまなエクササイズを組み合わせることで、気になる部位だけでなく、普段あまり使われない筋肉にもアプローチし、体全体のバランスを整えていきます。
                        </div>
                    </div>
                </li>
                <li class="program-main__list-item" id="program05">
                    <div class="program-main__list-img">
                        <img src="<%= RELATIVE_PATH %>img/program/img-05.png" alt="プライベートレッスン">
                    </div>
                    <div class="program-main__list-ct">
                        <h2 class="c-ttl__02 c-ttl__02--sm program-main__list-ttl">
                            <span class="c-ft--base">部位・目的別コース</span>
				            <span class="c-ft--adventures">Courses by part / purpose</span>
                        </h2>
                        <h3 class="program-main__list-ttlsub">目的の部位に効果的にアプローチしたい方におすすめ</h3>
                        <ul class="program-main__list-option">
                            <li>
                                <img src="<%= RELATIVE_PATH %>img/program/ico-time.png" width="14" alt="部位・目的別コース">
                                レッスン時間<span>60</span>分
                            </li>
                        </ul>
                        <div class="c-txt__basic program-main__list-desc">
                            「ヒップ＆レッグ」や「ストレッチ＆コンディショニング」など、目的やアプローチしたい部位に特化したコースをご用意しています。特定の部位や目的に集中することで、より効果的にアプローチします。
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="sec-contact">
		<div class="inner">
			<div class="c-ttl__01">
				<span class="c-ft--adventures">Contact</span>
				<h2 class="c-ft--base">お問い合わせ</h2>
			</div>
			<div class="c-txt__heading c-txt__basic">
				<p>
					お問い合わせは以下のフォームまたはお電話より承ります。
				</p>
			</div>
			<div class="contact-block">
				<a href="tel:0357909753" class="contact-block__item contact-block__tel">
					<img src="<%= RELATIVE_PATH %>img/common/contact-tel.png" alt="03-5790-9753">
				</a>
				<a href="/contact/" class="contact-block__item contact-block__mail">
					<span>
						<span class="c-ft--en">Contact</span>
						<small>
							お問い合わせ
						</small>
					</span>
				</a>
			</div>
			<div class="contact-note">
				<p>
					お客様よりよくお寄せいただく<br class="sp">ご質問と回答とまとめております。<br>
					お問い合わせの前にご覧ください。
				</p>
				<a href="/faq" class="contact-note__btn">
					<span class="c-ft--en">Q<small>&</small>A</span>はこちら
				</a>
			</div>
		</div>
	</section>
</main>