<main class="page-<%= pageData.template %>">
	<section class="mv-page">
		<ul class="breadcrumb">
			<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/ico.png" alt="home" width="5">HOME</a></li>
			<li><span>TRIAL</span></li>
		</ul>
		<div class="mv-page__img">
			<img src="<%= RELATIVE_PATH %>img/trial/mv.jpg" alt="TRIAL" class="pc">
			<img src="<%= RELATIVE_PATH %>img/trial/mv-sp.jpg" alt="TRIAL" class="sp">
		</div>
		<div class="mv-page__ttl">
			<h1 class="c-ft--jp">TRIAL</h1>
			<span class="c-ft--base">
				Muniの魅力を体感していただくために<br>
				トライアルレッスンを無料で受講していただけます
			</span>
		</div>
	</section>
	<section class="sec-trial-page">
		<div class="inner">
			<ul class="trial-list">
				<li class="trial-list__item">
					<div class="trial-list__box">
						<div class="trial-list__img">
							<img src="<%= RELATIVE_PATH %>img/trial/img-01.jpg" alt="TRIAL" class="pc">
							<img src="<%= RELATIVE_PATH %>img/trial/img-01-sp.jpg" alt="TRIAL" class="sp">
						</div>
						<div class="trial-list__ct">
							<p>
								周囲の目を気にせずピラティスに集中できるセミプライベート空間
							</p>
						</div>
					</div>
				</li>
				<li class="trial-list__item">
					<div class="trial-list__box">
						<div class="trial-list__img">
							<img src="<%= RELATIVE_PATH %>img/trial/img-02.jpg" alt="TRIAL" class="pc">
							<img src="<%= RELATIVE_PATH %>img/trial/img-02-sp.jpg" alt="TRIAL" class="sp">
						</div>
						<div class="trial-list__ct">
							<p>
								初めての方でも大丈夫、マシンで負荷を調整し動きをサポートします
							</p>
						</div>
					</div>
				</li>
				<li class="trial-list__item">
					<div class="trial-list__box">
						<div class="trial-list__img">
							<img src="<%= RELATIVE_PATH %>img/trial/img-03.jpg" alt="TRIAL" class="pc">
							<img src="<%= RELATIVE_PATH %>img/trial/img-03-sp.jpg" alt="TRIAL" class="sp">
						</div>
						<div class="trial-list__ct">
							<p>
								西海岸をモチーフにしたリラックスムード漂う更衣室やレストルーム
							</p>
						</div>
					</div>
				</li>
			</ul>
			<div class="trial-heading c-al--c">
				<h2>トライアルレッスンの流れ</h2>
				<span class="c-ft--adventures">Trial lesson flow</span>
			</div>
			<ul class="trial-steps">
				<li class="trial-steps__item">
					<div class="trial-steps__box" >
						<div class="trial-steps__img">
							<img src="<%= RELATIVE_PATH %>img/trial/step-01.png" alt="トライアルレッスンのご予約">
						</div>
						<div class="trial-steps__ct c-txt__basic">
							<h3 class="trial-steps__ct-ttl">トライアルレッスンのご予約</h3>
							<p class="pc-sm">
								体験予約ボタンから、レッスンをご予約ください。
							</p>
						</div>
						<div class="trial-steps__ct--sp sp-sm c-txt__basic">
							<p>
								体験予約ボタンから、レッスンをご予約ください。
							</p>
						</div>
					</div>
				</li>
				<li class="trial-steps__item">
					<div class="trial-steps__box" >
						<div class="trial-steps__img">
							<img src="<%= RELATIVE_PATH %>img/trial/step-02.png" alt="ご予約日に受付へ">

						</div>
						<div class="trial-steps__ct c-txt__basic">
							<h3 class="trial-steps__ct-ttl">ご予約日に受付へ</h3>
							<p class="pc-sm">
								ご予約時間の10分前までにスタジオへお越しください。
							</p>
						</div>
						<div class="trial-steps__ct--sp sp-sm c-txt__basic">
							<p>
								ご予約時間の10分前までにスタジオへお越しください。
							</p>
						</div>
					</div>
				</li>
				<li class="trial-steps__item">
					<div class="trial-steps__box" >
						<div class="trial-steps__img">
							<img src="<%= RELATIVE_PATH %>img/trial/step-03.png" alt="お着替え">
						</div>
						<div class="trial-steps__ct c-txt__basic">
							<h3 class="trial-steps__ct-ttl">お着替え</h3>
							<p class="pc-sm">
								更衣室へご案内いたします。
							</p>
						</div>
						<div class="mv-page__ct--sp sp-sm c-txt__basic">
							<p>
								更衣室へご案内いたします。
							</p>
						</div>
					</div>
				</li>
				<li class="trial-steps__item">
					<div class="trial-steps__box" >
						<div class="trial-steps__img">
							<img src="<%= RELATIVE_PATH %>img/trial/step-04.png" alt="カウンセリング">

						</div>
						<div class="trial-steps__ct c-txt__basic">
							<h3 class="trial-steps__ct-ttl">カウンセリング</h3>
							<p class="pc-sm">
								お体の状態やピラティス経験の有無などをうかがい、<br>
								レッスン内容のご説明をします。
							</p>
						</div>
						<div class="trial-steps__ct--sp sp-sm c-txt__basic">
							<p>
								お体の状態やピラティス経験の有無などをうかがい、レッスン内容のご説明をします。
							</p>
						</div>
					</div>
				</li>
				<li class="trial-steps__item">
					<div class="trial-steps__box" >
						<div class="trial-steps__img">
							<img src="<%= RELATIVE_PATH %>img/trial/step-05.png" alt="レッスン">

						</div>
						<div class="trial-steps__ct c-txt__basic">
							<h3 class="trial-steps__ct-ttl">レッスン</h3>
							<p class="pc-sm">
								ビギナークラスを体験いただきます。<br>
								ご不安な点やご希望がございましたらご相談ください。
							</p>
						</div>
						<div class="trial-steps__ct--sp sp-sm c-txt__basic">
							<p>
								ビギナークラスを体験いただきます。<br>
								ご不安な点やご希望がございましたらご相談ください。
							</p>
						</div>
					</div>
				</li>
				<li class="trial-steps__item">
					<div class="trial-steps__box" >
						<div class="trial-steps__img">
							<img src="<%= RELATIVE_PATH %>img/trial/step-06.png" alt="フィードバック">

						</div>
						<div class="trial-steps__ct c-txt__basic">
							<h3 class="trial-steps__ct-ttl">フィードバック</h3>
							<p class="pc-sm">
								インストラクターからフィードバックをお伝えします。<br>
								ご質問がございましたらお気軽におたずねください。
							</p>
						</div>
						<div class="trial-steps__ct--sp sp-sm c-txt__basic">
							<p>
								インストラクターからフィードバックをお伝えします。ご質問がございましたらお気軽におたずねください。
							</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<section class="sec-contact">
		<div class="inner">
			<div class="c-ttl__01">
				<span class="c-ft--adventures">Contact</span>
				<h2 class="c-ft--base">お問い合わせ</h2>
			</div>
			<div class="c-txt__heading c-txt__basic">
				<p>
					お問い合わせは以下のフォームまたはお電話より承ります。
				</p>
			</div>
			<div class="contact-block">
				<a href="tel:0357909753" class="contact-block__item contact-block__tel">
					<img src="<%= RELATIVE_PATH %>img/common/contact-tel.png" alt="03-5790-9753">
				</a>
				<a href="/contact/" class="contact-block__item contact-block__mail">
					<span>
						<span class="c-ft--en">Contact</span>
						<small>
							お問い合わせ
						</small>
					</span>
				</a>
			</div>
			<div class="contact-note">
				<p>
					お客様よりよくお寄せいただく<br class="sp">ご質問と回答とまとめております。<br>
					お問い合わせの前にご覧ください。
				</p>
				<a href="/faq" class="contact-note__btn">
					<span class="c-ft--en">Q<small>&</small>A</span>はこちら
				</a>
			</div>
		</div>
	</section>
	<section class="sec-maps">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.524423815397!2d139.66753162535306!3d35.664087086490476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f36b3ad2db91%3A0x3f3ad847c2218fd4!2z44CSMTU1LTAwMzEg5p2x5Lqs6YO95LiW55Sw6LC35Yy65YyX5rKi77yS5LiB55uu77yT77yX4oiS77yR77yYIO-8re-8oe-8ru-8oeS4i-WMl-ayoiA0Zg!5e0!3m2!1sja!2sjp!4v1717469400705!5m2!1sja!2sjp" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</section>
</main>